<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" columns="max" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="./vendor/autoload.php">
  <coverage>
    <include>
      <directory suffix=".php">*</directory>
    </include>
    <exclude>
      <directory>Test</directory>
      <directory>vendor</directory>
    </exclude>
  </coverage>
  <testsuite name="Elgentos_BaseUrlPath_UnitTest">
    <directory suffix="Test.php">./Test/Unit</directory>
  </testsuite>
</phpunit>
